<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">GPU.js + Angular demo</span>
  </div>
</nav>

<br>

<div class="container">
  <div>
    <p>Vendor: {{vendor}}</p>
    <p>GPU: {{renderer}}</p>
  </div>
  <form>
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" id="matrixSize" name="matrixSize" aria-describedby="matrixSizeHelp"
          placeholder="Enter matrix size" [(ngModel)]="matrixSize">
        <div id="matrixSizeHelp" class="form-text">You can see GPU magic with matrix size > 500</div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="generateMatrices()">Generate random matrices</button>
      </div>
    </div>
  </form>

  <br>
  <form class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="cpuMutiplyMatrix()" [disabled]="!matricesGenerated">CPU
        Multiply</button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="gpuMultiplyMatrix()" [disabled]="!matricesGenerated">GPU
        Multiply</button>
    </div>
  </form>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          CPU Time
        </div>
        <div class="card-body">
          <p class="card-text">{{cpuTime}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          GPU Time
        </div>
        <div class="card-body">
          <p class="card-text">{{gpuTime}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <span>Status: {{statusMessage}}</span>
</div>
<br>

<div class="container">
  <div class="card">
    <div class="card-header">
      Matrix A
    </div>
    <div class="card-body">
      <ul *ngFor="let row of matrices[0]" class="list-group">
        <li class="list-group-item">{{row}}</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Matrix B
    </div>
    <div class="card-body">
      <ul *ngFor="let row of matrices[1]" class="list-group">
        <li class="list-group-item">{{row}}</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      CPU Matrix Product
    </div>
    <div class="card-body">
      <ul *ngFor="let row of cpuProduct" class="list-group">
        <li class="list-group-item">{{row}}</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      GPU Matrix Product
    </div>
    <div class="card-body">
      <ul *ngFor="let row of gpuProduct" class="list-group">
        <li class="list-group-item">{{row}}</li>
      </ul>
    </div>
  </div>


</div>


<canvas id="dummyCanvas"> </canvas>